
{{#if businessName}}<!-- {{businessName}}页面 -->{{/if}}
<ny-page-box [pageHeader]="pageHeader" [pageBody]="pageBody" [pageFooter]="pageFooter"
    [nzStyle]="{ height: innerPageH + 'px' }"></ny-page-box>

<!-- 表格搜索区 -->
<ng-template #pageHeader>
    <div class="clearfix">
        <!-- 左侧筛选区 -->
        <div class="f-l">
            {{#if (eq filters.advancedFilterType 'new')}}
            <div class="search-item">
                <button class="ant-btn-icon-only" nz-button nzType="default" style="min-width: 32px; margin-left: 0"
                    (click)="refreshData()">
                    <i nz-icon nzType="redo" nzTheme="outline"></i>
                </button>
            </div>
            {{/if}}
            {{#if filters.hasDateFilter}}
            <div class="search-item">
              <nz-month-picker [(ngModel)]="date" [nzAllowClear]="false" nzFormat="yyyy年MM期"
                  [nzDisabledDate]="disabledDate" (ngModelChange)="refreshData(true)">
              </nz-month-picker>
            </div>
            {{/if}}
            {{#if filters.hasCompanyFilter}}
            <div class="search-item">
                <yzf-company-select
                    [nyStyle]="{width:'360px'}"
                    [(options)]="corporationTree"
                    [(selectOptions)]="selectedCorporationTree"
                    [(nyModel)]="corporationValue"
                    (nyModelChange)="onTagChange($event)"
                >
                </yzf-company-select>
            </div>
            {{/if}}
            {{#if filters.hasInputFilter}}
            <div class="search-item">
                <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
                    <input [(ngModel)]="{{camelCase componentName}}CodeOrName" (ngModelChange)="keyupSearchFunc($event.trim())" nz-input placeholder="请输入名称/编码" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <em class="search-input"><i nz-icon nzType="search"></i></em>
                </ng-template>
            </div>
            {{/if}}
            {{#if filters.hasAdvancedFilter}}
            <!-- 高级筛选 -->
            {{#if (eq filters.advancedFilterType 'legacy')}}
            <div class="search-item">
                <div class="series-btn">
                    <button nz-button [nzType]="searchNum > 0 || isOpenSearch ? 'primary': 'default'" style="margin-left: 0;" (click)="seniorSearch()">
                        <i nz-icon [nzIconfont]="'iconDA-xialashaixuan'"></i>
                        高级筛选
                    </button>
                    <div *ngIf="searchNum > 0" class="series">
                        <span class="series-num">\{{searchNum}}</span>
                    </div>
                </div>
            </div>
            {{else if (eq filters.advancedFilterType 'new')}}
            <div class="search-item">
                <div class="series-btn">
                    <yzf-senior-btn [isOpen]="isOpenSearch" (nyClick)="seniorSearch()"></yzf-senior-btn>
                </div>
            </div>
            {{/if}}

            {{/if}}
            {{#if (not filters.advancedFilterType 'new')}}
            <div class="search-item">
              <button class="ant-btn-icon-only" nz-button nzType="default" style="min-width: 32px; margin-left: 0;"
                  (click)="getTableData()">
                  <i nz-icon nzType="redo" nzTheme="outline"></i>
              </button>
            </div>
            {{/if}}
        </div>
        <!-- 右侧操作区 -->
        <div class="f-r">
            {{#if buttons.hasAddButton}}
            <button nz-button nzType="primary" (click)="handleAdd()">新增</button>
            {{/if}}
            {{#if buttons.hasDeleteButton}}
            <button nz-button nzType="default" (click.once)="handleBatchDelete()">删除</button>
            {{/if}}
            {{#if buttons.hasBatchEnableButton}}
            <button nz-button nzType="default" (click)="handleBatchEnable(true)">启用</button>
            <button nz-button nzType="default" (click)="handleBatchEnable(false)">禁用</button>
            {{/if}}
            {{#if buttons.hasBatchFilterButton}}
            <yzf-batch-select-enterprise *ngIf="globalService.currentView === 'Group'"
                (valueOnChange)="onBatchSelectChange($event)"></yzf-batch-select-enterprise>
            {{/if}}
            {{#if buttons.hasImportButton}}
            <button nz-button nzType="default" (click.once)="doUpload()">导入</button>
            {{/if}}
            {{#if buttons.hasExportButton}}
            {{#if table.hasSelection}}
            {{#if table.hasCrossPageSelection}}
            <yzf-badge-animation #badgeAnimation>
                <button nz-button nzType="default" (click)="batchExport(badgeAnimation)">导出</button>
            </yzf-badge-animation>
            {{else}}
            <yzf-badge-animation #badgeAnimation>
                <button nz-button nzType="default" nz-dropdown [nzDropdownMenu]="menu1">导出</button>
                <nz-dropdown-menu #menu1="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item (click)="allExport(badgeAnimation)">全部</li>
                        <li nz-menu-item (click)="batchExport(badgeAnimation)">选中</li>
                    </ul>
                </nz-dropdown-menu>
            </yzf-badge-animation>
            {{/if}}
            {{else}}
            <yzf-badge-animation #badgeAnimation>
                <button nz-button nzType="default" (click)="allExport(badgeAnimation)">导出</button>
            </yzf-badge-animation>
            {{/if}}
            {{/if}}
        </div>
    </div>
    {{#if (and filters.hasAdvancedFilter (eq filters.advancedFilterType 'new'))}}
    <yzf-filter-box
        [conditions]="filterBadgeObj"
        [isOpen]="isOpenSearch"
        (valueChanged)="advancedfilterChange($event)"
        (moreClickChanged)="filterBoxSizeChange()"
    >
    </yzf-filter-box>
    {{/if}}
    {{#if (and filters.hasAdvancedFilter (eq filters.advancedFilterType 'legacy'))}}
    <div [class.show-search]="!isOpenSearch">
        <yzf-filter-badge [filterBadgeObj]="filterBadgeObj" [debounce]="500" (selectChange)="selectChange($event)">
        </yzf-filter-badge>
    </div>
    {{/if}}
</ng-template>

<!-- 内容区 -->
<ng-template #pageBody>
    {{#if table.hasEnhanceTable}}
    <yzf-enhance-table
        [nyStyle]="{width: '100%', height: tableHeight + 'px'}"
        [getRowId]="getRowId"
        [columnDefs]="columnDefs"
        [rowData]="table.list"
        [loading]="table.loading"
        (tableReadyChange)="onGridReady($event)"
        {{#if table.hasSelection}}
        (selectionChanged)="onSelectionChanged($event)"
        {{/if}}
    >
    </yzf-enhance-table>
    {{else}}
    <nz-table #fixedTable [nzData]="table.list" [nzScroll]="{x: '1170px', y: tableHeight + 'px'}" [nzShowPagination]=false
        [nzFrontPagination]=false [nzNoResult]="listEmpty" [nzLoading]="table.loading" [nzBordered]="false"
        class="no-border-table">
        <thead>
            <tr>
                {{#if table.hasSelection}}
                {{#if table.hasCrossPageSelection}}
                <th *ngIf="hasSelection" nzWidth="60px" style="width: 60px; max-width: 60px; min-width: 60px" nzLeft nzAlign="left" nzShowCheckbox
                    [nzSelections]="listOfSelection" [(nzChecked)]="selectionState.isAllDataChecked" 
                    [nzIndeterminate]="selectionState.isIndeterminate" (nzCheckedChange)="checkCurrentPage($event)">
                </th>
                {{else}}
                <th nzWidth="60px" nzLeft nzShowCheckbox nzAlign="center" [nzDisabled]="listOfData.length == 0"
                    [(nzChecked)]="isAllDataChecked" [nzIndeterminate]="isIndeterminate"
                    (nzCheckedChange)="checkAll($event)">
                </th>
                {{/if}}
                {{/if}}
                {{#if filters.hasCompanyFilter}}
                <th nzWidth="120px" nzLeft>企业编号</th>
                <th nzWidth="260px" nzLeft>企业名称</th>
                {{/if}}
                <th nzWidth="150px">示例文本</th>
                <th nzWidth="150px" nzAlign="right">示例数字</th>
                <th nzWidth="150px">示例枚举名称</th>
                {{#if (or buttons.hasBatchEnableButton table.hasEnableButton)}}
                <th nzWidth="150px">状态</th>
                {{/if}}
                <th nzWidth="170px" nzRight="0px" style="min-width: 170px;">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of fixedTable.data">
                {{#if table.hasSelection}}
                {{#if table.hasCrossPageSelection}}
                <td *ngIf="hasSelection" nzLeft style="width: 60px; max-width: 60px; min-width: 60px" nzShowCheckbox nzAlign="left"
                    [(nzChecked)]="selectionState.mapOfCheckedId[getRowKey(data)]"
                    [nzIndeterminate]="selectionState.indeterminate[getRowKey(data)]"
                    (nzCheckedChange)="onItemChecked(getRowKey(data), $event)"></td>
                {{else}}
                <td nzLeft nzWidth="60px" nzLeft nzShowCheckbox nzAlign="center"
                    [(nzChecked)]="mapOfCheckedId[getRowKey(data)]" (nzCheckedChange)="refreshStatus()"></td>
                {{/if}}
                {{/if}}
                {{#if filters.hasCompanyFilter}}
                <td nzLeft [title]="data.companyCode">
                    <div class="text-nowrap">
                        \{{data.companyCode}}
                    </div>
                </td>
                <td nzLeft [title]="data.companyName">
                    <div class="icon-taxLayerType">
                        <i *ngIf="data.taxlayerType === '001'" class="icon" nz-icon [nzIconfont]="'YDSZyibannashuiren'">
                        </i>
                        <i *ngIf="data.taxlayerType === '101'" class="icon" nz-icon [nzIconfont]="'YDSZxiaoguimonashuiren'">
                        </i>
                    </div>
                    <div *ngIf="data.companyName" class="nowrap-company-ellipsis">
                        <div class="text-nowrap">
                            \{{data.companyName.slice(0, -8) }}
                        </div>
                        <div class="text-nowrap-noellipsis">
                            \{{data.companyName.slice(-8) }}
                        </div>
                    </div>
                    <div class="icon-fuzhi-wrapper">
                        <i class="icon icon-fuzhi" nz-icon [nzIconfont]="'YDSZfuzhi1'" nz-tooltip nzTooltipTitle="复制"
                            [yzfCopyText]="data.companyName">
                        </i>
                    </div>
                </td>
                {{/if}}
                <td [title]="data.exampleText">
                    <div class="text-nowrap">
                        \{{data.exampleText}}
                    </div>
                </td>
                <td [title]="data.exampleNumber" nzAlign="right">
                    <div class="text-nowrap">
                        \{{data.exampleNumber | number:'1.2-2'}}
                    </div>
                </td>
                <td [title]="data.exampleEnum">
                    <div class="text-nowrap">
                        \{{exampleMap[data.exampleEnum] | nullReplace }}
                    </div>
                </td>
                {{#if (or buttons.hasBatchEnableButton table.hasEnableButton)}}
                <td [title]="enableStatusMap[data.enable] | nullReplace">
                    <div class="status-circle-wrap"
                        [class.status-success]="data.enable === 1"
                        [class.status-default]="data.enable === 0"
                    >
                        \{{enableStatusMap[data.enable] | nullReplace }}
                    </div>
                </td>
                {{/if}}
                <td nzRight="0px" style="min-width: 170px;">
                    {{#if table.hasEditButton}}
                    <a (click)="handleEdit(data)" class="right8">编辑</a>
                    {{/if}}
                    {{#if table.hasViewButton}}
                    <a (click)="handleView(data)" class="right8">详情</a>
                    {{/if}}
                    {{#if table.hasEnableButton}}
                    <a *ngIf="item.enable === 0" (click)="handleEnable(data, true)" class="right8">启用</a>
                    <a *ngIf="item.enable === 1" (click)="handleEnable(data, false)" class="right8">禁用</a>
                    {{/if}}
                    {{#if table.hasDeleteButton}}
                    <a nz-popconfirm nzPopconfirmTitle="您确定删除当前数据吗？" (nzOnConfirm)="handleDelete(data)"
                        nzPopconfirmPlacement="top" class="right8">删除</a>
                    {{/if}}
                </td>
            </tr>
        </tbody>
    </nz-table>
    
    <ng-template #listEmpty>
        <ny-nodata [nzStyle]="{ height: tableHeight + 'px' }"></ny-nodata>
    </ng-template>
    {{/if}}
</ng-template>

<!-- 分页 -->
<ng-template #pageFooter>
    {{#if (and table.hasSelection table.hasCrossPageSelection)}}
    <!-- 左 -->
    <div class="showTotal">
        <span *ngIf="selectedCount > 0">已选择 \{{selectedCount}} 条，</span>
        <span *ngIf="selectedCount === 0">显示 \{{table.list.length}} 条，</span>
        <span>共 \{{pg.total}} 条</span>
    </div>
    <!-- 右 -->
    <nz-pagination
        nzSize="small"
        [(nzPageIndex)]="pageNumber"
        [(nzPageSize)]="pageSize"
        [nzTotal]="pg.total"
        [nzPageSizeOptions]="[30, 50, 100]"
        (nzPageIndexChange)="refreshData(false, false)"
        (nzPageSizeChange)="refreshData(true, false)"
        nzShowSizeChanger
        nzShowQuickJumper></nz-pagination>
    {{else}}
    <!-- 左 -->
    <div class="showTotal">显示 \{{table.list.length}} 条，共 \{{pg.total}} 条</div>
    <!-- 右 -->
    <nz-pagination
        [(nzPageIndex)]="pg.page"
        [nzSize]="'small'"
        [(nzPageSize)]="pg.size"
        [nzPageSizeOptions]="[30, 50, 100]"
        [nzTotal]="pg.total"
        (nzPageIndexChange)="refreshData()"
        (nzPageSizeChange)="refreshData(true)"
        nzShowSizeChanger
        nzShowQuickJumper></nz-pagination>
    {{/if}}
</ng-template>

{{#if table.hasEnhanceTable}}
{{#if table.hasCrossPageSelection}}
<ng-template #selectionDropdownTpl>
    <a nz-dropdown [nzDropdownMenu]="menu">
        <span nz-icon nzType="down"></span>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li *ngFor="let item of listOfSelection" nz-menu-item (click)="item.onSelect()">{{item.text}}</li>
        </ul>
    </nz-dropdown-menu>
</ng-template>
{{/if}}
<ng-template #exampleTpl let-rowData>
    <div [ngClass]="{
                    'cur-pointer': true,
                    'text-warning': rowData.status === null,
                    'text-success': rowData.status === 1,
                    'text-error': rowData.status === 2
                }" (click)="approveDetail(rowData)">
        <ng-container [ngSwitch]="rowData.status">

        </ng-container>
    </div>
</ng-template>
<!-- 操作区 -->
<ng-template #buttonTpl let-rowData>
    {{#if table.hasEditButton}}
    <a (click)="handleEdit(rowData)" class="right8">编辑</a>
    {{/if}}
    {{#if table.hasDeleteButton}}
    <a nz-popconfirm nzPopconfirmTitle="您确定删除当前数据吗？" (nzOnConfirm)="handleDelete(rowData)"
        nzPopconfirmPlacement="top">删除</a>
    {{/if}}
</ng-template>
{{/if}}

{{#if (or buttons.hasAddButton table.hasEditButton table.hasViewButton)}}
<!-- 新增/编辑/详情drawer -->
<nz-drawer nzWrapClassName="ny-drawer" [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px'}"
    [nzWidth]="1200" [nzVisible]="nyDrawerShow" [nzTitle]="drawerName" (nzOnClose)="closeDrawer()"
    ignoreClass="ny-drawer,ignore-btn,ant-select-dropdown-menu-item">
    <ng-container *nzDrawerContent>
        <{{selectorPrefix}}-{{componentName}}-detail
            *ngIf="nyDrawerShow"
            [data]="infoData"
            [type]="infoType"
            {{#if filters.hasCompanyFilter}}
            [companyList]="allCorporationList"
            {{/if}}
            (successInfo)="successEvent($event)"
        ></{{selectorPrefix}}-{{componentName}}-detail>
    </ng-container>
</nz-drawer>
{{/if}}
{{#if buttons.hasImportButton}}
<!-- 导入 -->
<!-- <yzf-property-upload #uploadComponent
    [importUrl]="importData.url"
    [template]="importData.template"
    [importMethods]="importData.importMethods"
>
</yzf-property-upload> -->
{{/if}}
